* {
    box-sizing: border-box;
}

img {
    width: 300px;
    height: 200px;
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-weight: 300;
    height: 100%;
}

#home {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 1px;
    width: 100%;
    background-;
}

ul {
    padding: 5px;
    padding-inline-end: 0;
}

.main-nav li {
    display: block;
    color: black;
    font-size: 1.2em;
    font-weight: 300;
    padding: 10px;
    background-color: white;
    margin: 5px;
    text-align: center;
    padding: .4em;
    border-bottom: 1px solid #ebecec;
}

.main-nav a:hover {
    border-bottom: gray;
}

ul li {
    padding: 0px;
    background-color: white;
    padding: 5px;
    margin: 10px;
    align-content: center;
}

a {
    text-align: center;
    text-decoration: none;
    color: black;
}

h2 .container {
    margin: 0 auto;
    max-width: 1100px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}

.col {
    display: block;
    margin: 20px 10px;
    max-width: 100%;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
    min-height: 350px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header-img {
    width: 75%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    margin: 10px;
}

footer {
    text-align: center;
    background-color: rgba(250, 246, 246, 0.74);
    color: black;
    text-decoration: none;
    padding: 1px;
    width: 100%;
    margin: 0;
    height: 400px;
}

footer ul {
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
    background-color: rgba(250, 246, 246, 0.74);
}

.top {
    list-style: none;
    text-transform: uppercase;
}

.full {
    display: none;
}

footer h2 {
    padding: 1em;
    margin: 10px;
}

footer p {
    padding-bottom: 1em;
    margin: 10px;
}

footer div {
    float: left;
    display: inline;
    padding: 20px;
    margin: 10px;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
}


/*media queries*/

@media (min-width: 768px) and (max-width: 1023px) {
    * {
        box-sizing: border-box;
    }
    body {
        max-width: 1024px;
        width: 100%;
        margin: 0;
    }
    header {
        height: 250px;
        display: block;
        box-sizing: border-box;
    }
    header p {
        text-align: left;
        position: relative;
        float: left;
        display: block;
        max-width: 50%;
        font-size: 1.25em;
    }
    .header-img {
        float: right;
        clear: left;
        width: 35%;
        padding: 1em;
        margin-bottom: 1em;
        display: inline;
    }
    .table {
        display: table;
        margin: 0 auto;
    }
    ul#main-nav {
        min-width: 321px;
        font-size: 1.2em;
        color: black;
        list-style: none;
        padding: 20px;
    }
    ul#main-nav li {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        background-color: rgba(250, 246, 246, 0.74)
    }
    ul li {
        background-color: rgba(250, 246, 246, 0.74);
    }
    #portfolio {
        min-width: 768px;
        margin: 0;
    }
    .col {
        float: left;
        width: calc(50% - 20px);
        margin-bottom: 0;
        align-content: center;
    }
    .image {
        padding: 2px;
        margin: 0;
        display: inline-block;
        width: 85%;
    }
    h2 p {
        text-align: center;
    }
    footer {
        text-align: center;
        background-color: rgba(250, 246, 246, 0.74);
        color: black;
        text-decoration: none;
        padding: 1px;
        width: 100%;
        margin-bottom: 0;
    }
    .top {
        display: none;
    }
    .full {
        display: inline-block;
        margin-left: 20px;
        width: 30%;
    }
    footer p {
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        width: 100%;
    }
    h1 {
        float: left;
        padding: 30px 20px 20px;
    }
    header {
        height: auto;
        display: block;
        box-sizing: border-box;
        width: 100%;
        background-image: url("images/flu.jpg");
    }
    ul li {
        display: inline-block;
        list-style: none;
        padding: 15px;
        margin: 20px;
        background-color: rgba(250, 246, 246, 0.74)
    }
    li a {
        float: right;
    }
    div ul {
        text-align: right;
    }
    header p {
        text-align: left;
        position: relative;
        float: left;
        display: block;
        max-width: 50%;
        font-size: 1.25em;
    }
    .header-img {
        float: right;
        clear: left;
        width: 30%;
        padding: 1em;
        margin-bottom: 1em;
        display: inline;
    }
    .container {
        min-width: 1024px;
    }
    .col {
        float: left;
        width: calc(33% - 30px);
        margin-bottom: 0;
    }
    .image {
        padding: 5px;
        margin: 10px;
        display: inline-block;
    }
    #portfolio {
        width: 100%;
        min-width: 1024px;
        margin: 10px;
        display: inline-block;
    }
    footer h2 {
        margin: 10px
    }
    .top {
        display: none;
    }
    .full {
        display: inline-block;
        margin-left: 5px;
    }
}